---
layout: home
---

<div class="home-hero-wrapper">
  <section class="container">
    <div class="home-hero">
      <p>{{ site.home-description }}</p>
    </div>
  </section>
</div>
<span class="separator-50"></span>
{% include cv.html %}
<span class="separator-50"></span>
<div class="portfolio-wrapper">
  <h2>My Latest Works</h2>
  <span class="separator-15"></span>
  <section class="container">
    {% for item in site.categories['featured-portfolio'] %}
    {% assign title = item.title|replace: '<hr>', ' ' %}
    <div class="portfolio-item">
      <a href="{{ item.clienturl }}" target="_blank" title="{{ title }}">
        <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ title }}">
        <span><h3>{{ item.title }}</h3></span>
      </a>
    </div>
    {% endfor %}
  </section>
</div>