<div class="home-cv-wrapper">
  <section class="container">
    <div class="cv">
      <div class="cv-item">
        <h3>Working Experience</h3>
        {% include we.html %}
      </div>
      <div class="cv-item">
        <h3>Education</h3>
        <table>
          <tr>
            <td class="year">2009 - 2012</td>
            <td>
              <p>Computer Science</p>
              <p><small>STIKI Indonesia</small></p>
            </td>
          </tr>
        </table>
      </div>
      <div class="cv-item">
        <h3>Technical Skills</h3>
        <table>
          <tr>
            <td>
              <ul class="no-list">
                <li>PHP</li>
                <li>Wordpress</li>
                <li>SCSS</li>
                <li>HTML 5</li>
                <li>Javascript, jQuery</li>
                <li>Photoshop</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="cv">
      <div class="cv-item">
        <h3>Projects</h3>
        {% include projects.html %}
      </div>
    </div>
  </section>
</div>