<div class="home-cv-wrapper">
  <section class="container">
    <div class="cv">
      <div class="cv-item">
        <h3>Working Experience</h3>
        <table>
          <tr>
            <td class="year">November 2015 – Present</td>
            <td>
              <p>Web Developer</p>
              <p><small>Bullseye Digital</small></p>
            </td>
          </tr>
          <tr>
            <td class="year">January 2015 – November 2015</td>
            <td>
              <p>Full Stack Developer</p>
              <p><small>Pick Digital Agency</small></p>
            </td>
          </tr>
          <tr>
            <td class="year">August 2014 – November 2014</td>
            <td>
              <p>Full Stack Developer</p>
              <p><small>Bali Byte</small></p>
            </td>
          </tr>
          <tr>
            <td class="year">October 2013 – June 2014</td>
            <td>
              <p>Full Stack Developer</p>
              <p><small>Alamaya</small></p>
            </td>
          </tr>
          <tr>
            <td class="year">June 2012 – September 2013</td>
            <td>
              <p>Web Developer</p>
              <p><small>Dewata Production</small></p>
            </td>
          </tr>
          <tr>
            <td class="year">September 2011 – June 2012</td>
            <td>
              <p>Web Developer</p>
              <p><small>Origin Tour</small></p>
            </td>
          </tr>
        </table>
      </div>
      <div class="cv-item">
        <h3>Education</h3>
        <table>
          <tr>
            <td class="year">2009 - 2012</td>
            <td>
              <p>Computer Science</p>
              <p><small>STIKI Indonesia</small></p>
            </td>
          </tr>
        </table>
      </div>
      <div class="cv-item">
        <h3>Technical Skills</h3>
        <table>
          <tr>
            <td>
              <ul class="no-list">
                <li>PHP</li>
                <li>Wordpress</li>
                <li>SCSS</li>
                <li>HTML 5</li>
                <li>Javascript, jQuery</li>
                <li>Photoshop</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="cv">
      <div class="cv-item">
        <h3>Projects</h3>
        <table class="projects">
          <tr>
            <td class="year">2016</td>
            <td>
              <ul>
                <li>Bali Dirt Bikes Rental - <a href="http://balidirtbikes.com/" target="_blank">link</a></li>
                <li>Dynamic Carpet &amp; Tile Cleaning - Perth - <a href="http://www.dynamiccarpetandtile.com.au/" target="_blank">link</a></li>
                <li>Perth Auto Electrical Group - <a href="http://www.paeg.com.au/" target="_blank">link</a></li>
                <li>Madpops Bali - <a href="http://madpopsbali.com/" target="_blank">link</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="year">2015</td>
            <td>
              <ul>
                <li>Kin Dog Food - <a href="http://kindogfood.com/" target="_blank">link</a></li>
                <li>Australia India Institute - <a href="http://www.aii.unimelb.edu.au/" target="_blank">link</a></li>
                <li>Hu'u Bistro - <a href="http://huubistro.com/" target="_blank">link</a></li>
                <li>Hu'u Villas - <a href="http://huuvillasbali.com/" target="_blank">link</a></li>
                <li>Little Layla - <a href="http://littlelayla.net/" target="_blank">link</a></li>
                <li>Bresic Whitney Blog - <a href="https://blog.bresicwhitney.com.au/" target="_blank">link</a></li>
                <li>Pick Digital Agency - <a href="http://pickdigitalagency.com/" target="_blank">link</a></li>
                <li>Peoplecorp - <a href="http://www.peoplecorp.com.au/" target="_blank">link</a></li>
                <li>Hu'u Bali landing page - <a href="http://huubali.com/" target="_blank">link</a></li>
                <li>Ways's Photography - <a href="http://wayssphotography.com/" target="_blank">link</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="year">2014</td>
            <td>
              <ul>
                <li>Husqvarna Indonesia - <a href="http://husqvarna-motor-indonesia.com/" target="_blank">link</a></li>
                <li>Bali Paradise Rafting - <a href="http://www.baliparadise.biz/" target="_blank">link</a></li>
                <li>Living Food Lab Bali - <a href="http://livingfoodlab.com/" target="_blank">link</a></li>
                <li>Suarti Silver - <a href="http://www.suarti.com/" target="_blank">link</a></li>
                <li>Ortopedianak - <a href="http://ortopedianak.com/" target="_blank">link</a></li>
                <li>BMW Motorrad Indonesia - <a href="http://bmw-motorrad-indonesia.com/" target="_blank">link</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="year">2013</td>
            <td>
              <ul>
                <li>Tom Barnes Blog - <del>link</del></li>
                <li>Dua Sudut Photography Blog - <a href="http://duasudut-photography.blogspot.co.id/" target="_blank">link</a></li>
                <li>Locaton Villa Bali - Bali Addict - <a href="http://www.bali-addict.com/" target="_blank">link</a></li>
                <li>Yukitake Bali Tour - <del>link</del></li>
                <li>Cityzen Renon - <a href="http://cityzenrenon.com" target="_blank">link</a></li>
                <li>Pauline Tyler - <a href="http://paulinetyler.com" target="_blank">link</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="year">2012</td>
            <td>
              <ul>
                <li>Chasca Gallery - <a href="http://www.chascaprecolumbianart.com/" target="_blank">link</a></li>
                <li>Extens Hair - <a href="http://www.extens-hair.com/" target="_blank">link</a></li>
                <li>Real Russian Hair - <a href="http://real-russian-hair.com/" target="_blank">link</a></li>
                <li>Dian Rent Car - <a href="http://rent-a-car-bali.com/" target="_blank">link</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>