<span class="separator-50"></span>
<footer class="site-footer">
  <section class="container">

    <div class="footer-content">
      <span class="separator-15"></span>
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a> | subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> | copyright &copy; 2016</li>
      </ul>
      <span class="separator-15"></span>
    </div>

  </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>