<header class="site-header">

  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.home-intro }}">
            <img class="img-responsive rounded-circle" src="{{ site.profile-image }}" alt="{{ site.home-intro }}">
            <h1 class="display-4">{{ site.home-intro }}</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="main-menu">
          <nav class="nav nav-inline">
            {% include menu.html %}
          </nav>
        </div>
      </div>
    </div>
  </section>
</header>