<header class="site-header">

  <section class="container">
    <div class="logo">
      <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.home-intro }}">{{ site.home-intro }}</a>
    </div>
    <div class="main-menu">
      <nav class="site-nav">
        <ul>
          <li><a class="page-link" href="{{ site.email }}">Email Me</a></li>
          <li><a class="page-link" target="_blank" href="{{ site.github }}">Github</a></li>
          <li><a class="page-link" target="_blank" href="{{ site.linkedin }}">Linked In</a></li>
          <li><a class="page-link" target="_blank" href="{{ site.twitter }}">Twitter</a></li>
          <li><a class="page-link highlight" target="_blank" href="{{ site.pph }}">Hire Me</a></li>
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </section>

</header>
