<table class="projects">
  <tr>
    <td class="year">2016</td>
    <td>
      <ul>
        <li>Kidsagogo - Australia - <a href="https://kidsagogo.com/" target="_blank">link</a></li>
        <li>Redds Cups - Australia - <a href="https://reddscups.com.au/" target="_blank">link</a></li>
        <li>Bali Dirt Bikes Rental - Bali - <a href="http://balidirtbikes.com/" target="_blank">link</a></li>
        <li>Dynamic Carpet &amp; Tile Cleaning - Australia - <a href="http://www.dynamiccarpetandtile.com.au/" target="_blank">link</a></li>
        <li>AJKitchens - Australia - <a href="http://www.ajkitchens.com.au/" target="_blank">link</a></li>
        <li>Perth Auto Electrical Group - Australia - <a href="http://www.paeg.com.au/" target="_blank">link</a></li>
        <li>Madpops Bali - Bali - <a href="http://madpopsbali.com/" target="_blank">link</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="year">2015</td>
    <td>
      <ul>
        <li>Kin Dog Food - <a href="http://kindogfood.com/" target="_blank">link</a></li>
        <li>Australia India Institute - <a href="http://www.aii.unimelb.edu.au/" target="_blank">link</a></li>
        <li>Hu'u Bistro - <del><a href="http://huubistro.com/" target="_blank">link</a></del></li>
        <li>Hu'u Villas - <a href="http://huuvillasbali.com/" target="_blank">link</a></li>
        <li>Little Layla - <a href="http://littlelayla.net/" target="_blank">link</a></li>
        <li>Bresic Whitney Blog - <a href="https://blog.bresicwhitney.com.au/" target="_blank">link</a></li>
        <li>Pick Digital Agency - <a href="http://pickdigitalagency.com/" target="_blank">link</a></li>
        <li>Peoplecorp - <a href="http://www.peoplecorp.com.au/" target="_blank">link</a></li>
        <li>Hu'u Bali landing page - <a href="http://huubali.com/" target="_blank">link</a></li>
        <li>Ways's Photography - <del><a href="http://wayssphotography.com/" target="_blank">link</a></del></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="year">2014</td>
    <td>
      <ul>
        <li>Husqvarna Indonesia - <a href="http://husqvarna-motor-indonesia.com/" target="_blank">link</a></li>
        <li>Bali Paradise Rafting - <del><a href="http://www.baliparadise.biz/" target="_blank">link</a></del></li>
        <li>Living Food Lab Bali - <a href="http://livingfoodlab.com/" target="_blank">link</a></li>
        <li>Suarti Silver - <a href="http://www.suarti.com/" target="_blank">link</a></li>
        <li>Ortopedianak - <del><a href="http://ortopedianak.com/" target="_blank">link</a></del></li>
        <li>BMW Motorrad Indonesia - <del><a href="http://bmw-motorrad-indonesia.com/" target="_blank">link</a></del></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="year">2013</td>
    <td>
      <ul>
        <li>Tom Barnes Blog - <del>link</del></li>
        <li>Dua Sudut Photography Blog - <del><a href="http://duasudut-photography.blogspot.co.id/" target="_blank">link</a></del></li>
        <li>Locaton Villa Bali - Bali Addict - <a href="http://www.bali-addict.com/" target="_blank">link</a></li>
        <li>Yukitake Bali Tour - <del>link</del></li>
        <li>Cityzen Renon - <a href="http://cityzenrenon.com" target="_blank">link</a></li>
        <li>Pauline Tyler - <del><a href="http://paulinetyler.com" target="_blank">link</a></del></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="year">2012</td>
    <td>
      <ul>
        <li>Chasca Gallery - <a href="http://www.chascaprecolumbianart.com/" target="_blank">link</a></li>
        <li>Extens Hair - <a href="http://www.extens-hair.com/" target="_blank">link</a></li>
        <li>Real Russian Hair - <a href="http://real-russian-hair.com/" target="_blank">link</a></li>
        <li>Dian Rent Car - <a href="http://rent-a-car-bali.com/" target="_blank">link</a></li>
      </ul>
    </td>
  </tr>
</table>