<table>
  <tr>
    <td class="year">November 2015 – Present</td>
    <td>
      <p>Web Developer</p>
      <p><small>Ogilvy Digital Bali</small></p>
    </td>
  </tr>
  <tr>
    <td class="year">January 2015 – November 2015</td>
    <td>
      <p>Full Stack Developer</p>
      <p><small>Pick Digital Agency</small></p>
    </td>
  </tr>
  <tr>
    <td class="year">August 2014 – November 2014</td>
    <td>
      <p>Full Stack Developer</p>
      <p><small>Bali Byte</small></p>
    </td>
  </tr>
  <tr>
    <td class="year">October 2013 – June 2014</td>
    <td>
      <p>Full Stack Developer</p>
      <p><small>Alamaya</small></p>
    </td>
  </tr>
  <tr>
    <td class="year">June 2012 – September 2013</td>
    <td>
      <p>Web Developer</p>
      <p><small>Dewata Production</small></p>
    </td>
  </tr>
  <tr>
    <td class="year">September 2011 – June 2012</td>
    <td>
      <p>Web Developer</p>
      <p><small>Origin Tour</small></p>
    </td>
  </tr>
</table>