<div class="home-cv-wrapper">
    <div class="col-sm-6">
      <div class="cv">
        <div class="cv-item">
          <h3>Working Experience</h3>
          <hr>
          {% include cv/we.html %}
        </div>
        <br>
        <div class="cv-item">
          <h3>Education</h3>
          <hr>
          <h5>Computer Science <small>@STIKI Indonesia</small></h5>
          <p>2009 - 2012</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="cv">
        <div class="cv-item">
          <h3>Projects</h3>
          <hr>
          {% include cv/projects.html %}
        </div>
      </div>
    </div>
  </section>
</div>