<div class="col-md-2 skill">
  <p class="text-center"><img src="{{'/image/skills/php.png' | prepend: site.baseurl }}" alt=""></p>
  <h6 class="text-center">PHP</h6>
</div>
<div class="col-md-2 skill">
  <p class="text-center"><img src="{{'/image/skills/wp.png' | prepend: site.baseurl }}" alt=""></p>
  <h6 class="text-center">WordPress</h6>
</div>
<div class="col-md-2 skill">
  <p class="text-center"><img src="{{'/image/skills/css.png' | prepend: site.baseurl }}" alt=""></p>
  <h6 class="text-center">CSS &amp; Sass</h6>
</div>
<div class="col-md-2 skill">
  <p class="text-center"><img src="{{'/image/skills/html.png' | prepend: site.baseurl }}" alt=""></p>
  <h6 class="text-center">HTML 5</h6>
</div>
<div class="col-md-2 skill">
  <p class="text-center"><img src="{{'/image/skills/js.png' | prepend: site.baseurl }}" alt=""></p>
  <h6 class="text-center">JavaScript &amp; jQuery</h6>
</div>
<div class="col-md-2 skill">
  <p class="text-center"><img src="{{'/image/skills/ps.png' | prepend: site.baseurl }}" alt=""></p>
  <h6 class="text-center">Photoshop</h6>
</div>