<div class="working-experience">
  <div class="row">
    <div class="col-sm-12">
      <h5>Web Developer <small>@Ogilvy Digital Bali</small></h5>
      <p>November 2015 – Present</p>
    </div>
    <div class="col-sm-12">
      <h5>Full Stack Developer <small>@Pick Digital Agency</small></h5>
      <p>January 2015 – November 2015</p>
    </div>
    <div class="col-sm-12">
      <h5>Full Stack Developer <small>@Bali Bytes</small></h5>
      <p>August 2014 – November 2014</p>
    </div>
    <div class="col-sm-12">
      <h5>Full Stack Developer <small>@Alamaya</small></h5>
      <p>October 2013 – June 2014</p>
    </div>
    <div class="col-sm-12">
      <h5>Web Developer <small>@Dewata Production</small></h5>
      <p>June 2012 – September 2013</p>
    </div>
    <div class="col-sm-12">
      <h5>Web Developer <small>@Origin Tour</small></h5>
      <p>September 2011 – June 2012</p>
    </div>
  </div>
</div>