.portfolio-item{
  padding: 0px;
  position: relative;
  a{
    display: block;
    &:hover{
      span{
        opacity: 1;
      }
    }
  }
  span{
    @include transition;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($main-color, .9);
    h3{
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      display: block;
      text-align: center;
      width: 100%;
      color: $white;
      hr{
        border-color: rgba($white, .9);
      }
    }
  }
}