%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

%clearafter{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}